server:
  port: 18089

spring:
  application:
    name: inventory-service
  config:
    import: "configserver:http://localhost:18071"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false