spring:
  application:
    name: inventory-service
  config:
    import: "optional:configserver:http://localhost:18071"
  cloud:
    stream:
      bindings:
        inventoryDeleted-out-0:
          destination: inventory-deleted
          content-type: application/json
      kafka:
        binder:
          brokers: localhost:9092

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
